textile:
  h3. Web Applications

  I really enjoy to craft desktop and mobile web apps. I'm enabled to design and implement rich UI client-side apps and business-driven server-side apps, using web standards and a range of tools and technologies.

  For server-side apps I'm currently working only with Ruby (<a href="http://rubyonrails.org/" target="_blank">Rails</a>, <a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a> and <a href="http://www.padrinorb.com/" target="_blank">Padrino</a>), and <a href="http://nodejs.org/" target="_blank">Node.js</a> (<a href="http://expressjs.com/" target="_blank">Express</a>).

  For client-side apps I'm enabled to work with a variety of tools and frameworks, including AngularJS, EmberJS, Backbone.js, CoffeeScript, etc. I used to design and implement rich internet applications using Adobe Flash and ActionScript 3.0 technology, when web standards weren't where they are today. Nowadays I prefer to use web standards to achieve a similar result, i.e., a truly rich user experience.

  h3. Native Mobile Applications

  Delivering the same version of a native mobile app to iOS and Android (the two main mobile platforms) using their SDKs is a tough and slow task, because you have to separately develop two apps. Not to mention other emerging platforms, including Windows Phone 8 and Firefox OS.

  To address this issue a practice of using web standards to implement native mobile apps became common, which enable developers to use almost the same source code to create native mobile apps for several platforms. Solutions like <a href="http://incubator.apache.org/cordova" target="_blank">Apache Cordova</a> / <a href="http://phonegap.com" target="_blank">Adobe PhoneGap</a> help developers to have access to features only available through platform SDKs.

  Of course that kind of native mobile app (also called hybrid mobile app) is no silver bullet. There are business requirements that are impossible to conciliate with that kind of app (hybrid mobile app). Intensive UI apps for example, like games, require the use of the platform SDK. But many businesses may benefit from that kind of app, reducing costs and time to market.

  Currently I'm only developing hybrid mobile apps.

  h3. Responsive Web Sites

  Web sites are everywhere, and so mobile devices. It's no longer enough to deliver a website only to desktop browsers. <a href="http://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">Responsive Web Design</a> and <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">Progressive Enhancement</a> are some of the techniques that enable web designers and developers to deliver high quality products to virtually any internet-enabled device, including tablets and smartphones.

  <br>
  <a id="services-delivery-page-contact-button" href="/contact/">Get in touch</a> for more information.
