markdown:
  ### Web Applications

  I really enjoy to craft desktop and mobile web apps. I'm enabled to design and implement rich UI client-side apps and business-driven server-side apps, using web standards and a range of tools and technologies.

  I used to design and implement rich internet applications using Adobe Flash technology, when web standards weren't where they are today. Nowadays I prefer to use web standards to achieve a similar result, i.e., a truly rich user experience.

  ### Native Mobile Applications

  Despite the interest in learning new stuff I've decided to not learn a mobile SDK, at least for now. This may change anytime. I think it demands a great amount of effort and time to become fluent in such a technology, besides the fact that I enjoy at least two of those, iOS and Android.

  So currently I'm working and making some experiments with alternative solutions that uses web standards to build native mobile applications, such as <a href="http://incubator.apache.org/cordova" target="_blank">Apache Cordova</a> / <a href="http://phonegap.com" target="_blank">Adobe PhoneGap</a>. Also, due to my deep knowledge of the Adobe Flash technology and ActionScript 3.0 language, I'm pondering the possibility to develop native mobile applications also using <a href="http://www.adobe.com/products/air.html" target="_blank">Adobe AIR</a> technology, mainly after recent improvements and techniques to achieve fluid UI (e.g. <a href="http://gamua.com/starling" target="_blank">Starling Framework</a>).

  ### Responsive Web Sites

  Web sites are everywhere, and so mobile devices. It's not longer enough to deliver a website only to desktop browsers. <a href="http://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">Responsive Web Design</a> and <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">Progressive Enhancement</a> are some of the techniques that enable web designers and developers to deliver high quality products for virtually any internet-enabled device.
