textile:
  h3. Overview

  I look for partners, not just clients. I really appreciate good relationship and transparency with people, both in personal and professional output. Nevertheless, I like to have a professional attitude and work with professional tools for project management, such as <a href="http://trello.com/" target="_blank">Trello</a>, <a href="http://basecamp.com/" target="_blank">Basecamp</a>, etc, to keep all processes smooth and organized. I do most of my freelancer work remotely from home, and I enjoy it. But remote work demands more organization for both parts, and I've learnt to become very organized. I also enjoy and am available to work on site when the project requires it.

  I'm enabled to deliver high quality and specialized software services through some industry best practices, including Agile Methodologies, TDD/BDD, Design Patterns, and more.

  I play well by myself or in a team, and I'm enabled to perform several roles: technical lead, lead developer, software architect, component developer.

  <a id="services-overview-page-contact-button" href="/contact/">Get in touch</a> for more information.

  h3. Web Applications

  I really enjoy to craft desktop and mobile web apps. I'm enabled to design and implement rich UI client-side apps and business-driven server-side apps, using web standards and a range of tools and technologies.

  For server-side apps I'm currently working only with Ruby (<a href="http://rubyonrails.org/" target="_blank">Rails</a>, <a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a>, <a href="http://www.padrinorb.com/" target="_blank">Padrino</a>), and <a href="http://nodejs.org/" target="_blank">Node.js</a> (<a href="http://expressjs.com/" target="_blank">Express</a>, <a href="https://hapijs.com/" target="_blank">Hapi</a>).

  For client-side apps I'm enabled to work with a variety of tools and frameworks, including <a href="https://facebook.github.io/react/" target="_blank">React</a>, <a href="https://angularjs.org/" target="_blank">AngularJS</a>, <a href="https://emberjs.com/" target="_blank">EmberJS</a>, and more. I used to design and implement rich internet applications using Adobe Flash and ActionScript 3.0 technology, when web standards weren't where they are today. Nowadays I prefer to use web standards to achieve a similar result, i.e., a truly rich user experience.

  h3. Native Mobile Applications

  Delivering the same version of a native mobile app to iOS and Android (the two main mobile platforms) using their SDKs directly is a slow and tough task, because you have to separately develop two separate apps, two separate codebases. Not to mention potential new platforms.

  To address this issue a practice of using web standards to implement native mobile apps became common, enabling developers to use almost the same source code to create native mobile apps for different platforms. We first saw the rise of solutions like <a href="http://incubator.apache.org/cordova" target="_blank">Apache Cordova</a> / <a href="http://phonegap.com" target="_blank">Adobe PhoneGap</a> for that purpose, and more recently, <a href="https://facebook.github.io/react-native/" target="_blank">React Native</a> is challenging the market using an approach that works even better, while sticking to web technologies. Many businesses can benefit from such solution, reducing costs and time to market.

  Nonetheless, there is no silver bullet on native mobile development. Intensive UI apps and games, for example, may require developers to work with platform SDKs directly to achieve greats results.

  I'm only developing native mobile apps using <a href="https://facebook.github.io/react-native/" target="_blank">React Native</a> at the moment.

  h3. Responsive Web Sites

  Web sites are everywhere, and so mobile devices. It's no longer enough to deliver a website only to desktop browsers. <a href="http://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">Responsive Web Design</a> and <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">Progressive Enhancement</a> are some of the techniques that enable web designers and developers to deliver high quality products to virtually any internet-enabled device, including tablets and smartphones.

  <br>
  <a id="services-overview-page-contact-button" href="/contact/">Get in touch</a> for more information.
