markdown:
  I seek for partners not just clients. I really apprecite good relationship and transparency with people, both in personal and professional output. Nevertheless, I like to have a professional attitude and work with professional tools for project management, such as Basecamp, to keep all processes smooth and organized. I do most of my freelancer work remotely from home, and I really enjoy it. But remote work demands more organization for both parts, and I've learnt to become very organized. I also enjoy and am available to work on site when the project requires. It's nice to meet new people and make new friends.

  I'm enabled to deliver high quality and specialized software services through some industry best practices, including TDD/BDD, Agile/Scrum, Design Patterns, etc.

  I play well by myself or in a team, and I'm enabled to perform several roles: technical lead, lead developer, software architect, component developer, ScrumMaster, etc.
