---
title: Ruby, Rails, HTML5, iOS, Android | flsilva's Deliverable
priority: 0.6
changefreq: monthly
---

== partial "services/services-template", :locals => {:partial_name => "delivery-text", :page => "services-delivery"}
