@import '../../styles/vars.css';

.link-button {
  /* default styles for $xxsmallScreenMedia */
  align-self: flex-start;
  background-color: var(--primary-text-color);
  border-radius: 0.5rem;
  color: var(--primary-bg-color);
  display: flex;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;

  @media $xsmallScreenMedia {
    font-size: 0.875rem;
    padding: 0.125rem 0.5rem;
  }

  @media $smallScreenMedia {
    font-size: 1rem;
    padding: 0.25rem 1rem;
  }

  @media $midScreenMedia {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
}

.link-button[data-align-self='flex-end'] {
  align-self: flex-end;
}
