---
title: "How to Set Up a Website on Nginx and Linux - Tutorial"
description: "Learn how to set up a website / webapp using the ultra fast Nginx HTTP Server on Linux."
priority: 0.6
changefreq: monthly
tags: nginx, sysadmin, ubuntu, debian
author: flsilva
summary: "Learn how to set up a website / webapp using the ultra fast Nginx HTTP Server on Linux."
tweet_text: "&quot;How to set up a website using ultra fast #nginx HTTP Server on #linux (#ubuntu / #debian)&quot; by @flsilva7 #sysadmin"
tweet_hashtags: ""
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2014-09-10-how-to-configure-a-website-on-nginx-and-linux-tutorial" }
== partial "partials/disqus"
