---
title: "How to Password Protect Files and Directories on Nginx"
description: "Learn how to password protect files and directories on Nginx using HTTP Authentication."
priority: 0.6
changefreq: monthly
tags: nginx, sysadmin, security, ubuntu, debian
author: flsilva
summary: "Learn how to password protect files and directories on Nginx using HTTP Authentication."
tweet_text: "&quot;How to password protect files and directories on #nginx&quot; by @flsilva7 #sysadmin #security #linux #ubuntu #debian"
tweet_hashtags: ""
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2015-03-03-how-to-password-protect-file-directory-nginx" }
== partial "partials/disqus"
