#slide-pearson.slide data-link==job_link
  img.border src="/images/portfolio/pearson/pearson-01.jpg" width="1024" height="768"
  img.border data-src="/images/portfolio/pearson/pearson-02.jpg" width="1024" height="768"
  img.border data-src="/images/portfolio/pearson/pearson-03.jpg" width="1024" height="768"
