---
title: "Fanswell Desktop Web App | flsilva's Portfolio"
description: PHP + HTML/CSS/JS CMS project developed for FabricInteractive.com between May 2013 - February 2014.
priority: 0.5
changefreq: monthly
---

- content_for :main_content_title do
  a href="/portfolio" Portfolio
== partial "partials/job", :locals => { :job_name => "Fanswell", :job_type => "Desktop Web App", :job_date => "May 2013 - February 2014", :job_link => "/portfolio/fanswell/", :slide_partial => "portfolio/fanswell_slide", :description_partial => "portfolio/fanswell_description" }
