---
title: "Imprint's Desktop and Mobile Web Apps | flsilva's Portfolio"
description: Ruby on Rails + AngularJS projects developed for Imprint Partners, Inc between October 2014 - October 2016.
priority: 0.5
changefreq: monthly
---

- content_for :main_content_title do
  a href="/portfolio" Portfolio
== partial "partials/job", :locals => { :job_name => "Imprint", :job_type => "Desktop and Mobile Web Apps", :job_date => "October 2014 - October 2016", :job_link => "/portfolio/imprint/", :slide_partial => "portfolio/imprint_slide", :description_partial => "portfolio/imprint_description" }
