---
title: "HTML5 iPad Games for Pearson | flsilva's Portfolio"
description: HTML5 iPad Apps developed for FabricInteractive.com between April 2013 - June 2013.
priority: 0.5
changefreq: monthly
---

- content_for :main_content_title do
  a href="/portfolio" Portfolio
== partial "partials/job", :locals => { :job_name => "Pearson", :job_type => "HTML5 iPad Games", :job_date => "April 2013 - June 2013", :job_link => "/portfolio/pearson/", :slide_partial => "portfolio/pearson_slide", :description_partial => "portfolio/pearson_description" }
