@import '../../styles/vars.css';

.container {
  align-items: center;
  border: 1px solid var(--primary-text-color);
  flex-direction: column;
  margin: 3rem 0;
  padding: 1rem 1.75rem;

  svg {
    width: 5rem;
    height: 5rem;
  }
}
