#twitter-interaction
  a href="http://developers.google.com/analytics" class="twitter-share-button" data-lang="en" data-url==get_clean_url data-text==get_tweet_text data-hashtags==get_tweet_hashtags Tweet
