:root {
  color-scheme: light dark;
}

/* ## Color variables       ## */

/* Light */

$primaryTextColorLight: #050505;
$secondaryTextColorLight: #8f8f8f;
$primaryLinkColorLight: #0090ff;
$primaryBgColorLight: #f5f5f5;
$primaryWarningColorLight: #eed202;
$primaryWarningFgColorLight: #ffffc2;

:root.theme-light {
  --primary-text-color: $primaryTextColorLight;
  --secondary-text-color: $secondaryTextColorLight;
  --primary-link-color: $primaryLinkColorLight;
  --primary-bg-color: $primaryBgColorLight;
  --primary-warning-color: $primaryWarningColorLight;
  --primary-warning-fg-color: $primaryWarningFgColorLight;
}

/* Dark */

$primaryTextColorDark: $primaryBgColorLight;
$secondaryTextColorDark: $secondaryTextColorLight;
$primaryLinkColorDark: #2aa2ff;
$primaryBgColorDark: $primaryTextColorLight;
$primaryWarningColorDark: $primaryWarningColorLight;
$primaryWarningFgColorDark: $primaryWarningFgColorLight;

:root.theme-dark {
  --primary-text-color: $primaryTextColorDark;
  --secondary-text-color: $secondaryTextColorDark;
  --primary-link-color: $primaryLinkColorDark;
  --primary-bg-color: $primaryBgColorDark;
  --primary-warning-color: $primaryWarningColorDark;
  --primary-warning-fg-color: $primaryWarningFgColorDark;
}

/* ##                       ## */

/* ## Media Query variables ## */

$xxsmallScreenWidth: 320px; /* small phones on portrait */
$xsmallScreenWidth: 375px; /* mid phones on portrait */
$smallScreenWidth: 414; /* large phones on portrait */
$midScreenWidth: 768px; /* phones on landscape and portrait tablets */
$largeScreenWidth: 1024px; /* small notebooks and landscape tablets */
$xlargeScreenWidth: 1200px; /* notebooks and large tablets */

$xxsmallScreenMedia: only screen and
  (
    min-width: $xxsmallScreenWidth
  );

$xsmallScreenMedia: only screen and
  (
    min-width: $xsmallScreenWidth
  );

$smallScreenMedia: only screen and
  (
    min-width: $smallScreenWidth
  );

$midScreenMedia: only screen and
  (
    min-width: $midScreenWidth
  );

$largeScreenMedia: only screen and
  (
    min-width: $largeScreenWidth
  );

$xlargeScreenMedia: only screen and
  (
    min-width: $xlargeScreenWidth
  );

/* ##                       ## */
