/* ## Color variables       ## */

:root {
  color-scheme: light dark;
}

:root.theme-light {
  --primary-text-color: #050505;
  --secondary-text-color: #8f8f8f;
  --primary-link-color: #0090ff;
  --primary-bg-color: #f5f5f5;
}

:root.theme-dark {
  --primary-text-color: #f5f5f5;
  --secondary-text-color: #8f8f8f;
  --primary-link-color: #2aa2ff;
  --primary-bg-color: #050505;
}

/* ##                       ## */

/* ## Media Query variables ## */

$mediaXXSmallMaxWidth: 320px; /* portrait small phones */
$mediaXSmallMaxWidth: 550px; /* portrait large phones */
$mediaSmallMaxWidth: 767px; /* landscape phones */
$mediaMidMinWidth: 768px;
$mediaLargeMinWidth: 1024px;
$mediaXLargeMinWidth: 1200px;

$mediaMaxXXSmall: only screen and
  (
    max-width: $mediaXXSmallMaxWidth
  );

$mediaMaxXSmall: only screen and
  (
    max-width: $mediaXXSmallMaxWidth
  );

$mediaMaxSmall: only screen and
  (
    max-width: $mediaSmallMaxWidth
  );

$mediaMaxMid: only screen and
  (
    max-width: $mediaMidMinWidth
  );

$mediaMinMid: only screen and
  (
    min-width: $mediaMidMinWidth
  );

$mediaMinLarge: only screen and
  (
    min-width: $mediaLargeMinWidth
  );

$mediaMinXLarge: only screen and
  (
    min-width: $mediaXLargeMinWidth
  );
/* ##                       ## */
