.header h1 {
  margin-block-end: 1rem;
}

.header h3 {
  margin-block-start: 0;
  margin-block-end: 3rem;
}

.resume-page small {
  display: block;
  margin-block-start: -0.5rem;
}

.resume-page ul li {
  background-image: url(../../images/circle.svg);
  background-position: 0 0.77rem;
  background-size: 0.75rem 0.75rem;
  background-repeat: no-repeat;
  display: list-item;
  list-style-type: none;
  padding-left: 1.5rem;
}

.resume-page ul li a {
  color: #050505;
}

.resume-page ul li a:hover {
  color: #1717ff;
}

.resume-page .experience li {
  background-position: 0 0.82rem;
  margin-block-end: 3rem;
}

.resume-page .experience h6 {
  display: inline;
}
