@import '../../styles/vars.css';

.header h1 {
  margin-block-end: 1rem;

  @media $xxsmallScreenMedia {
    font-size: 3rem;
  }
  @media $xsmallScreenMedia {
    font-size: 3.5rem;
  }
  @media $smallScreenMedia {
    font-size: 4rem;
  }
  @media $midScreenMedia {
    font-size: 5rem;
  }
}

.header h3 {
  margin-block-start: -0.5rem;
  margin-block-end: 3rem;

  @media $xxsmallScreenMedia {
    font-size: 1.125rem;
  }
  @media $xsmallScreenMedia {
    font-size: 1.375rem;
  }
  @media $smallScreenMedia {
    font-size: 1.625rem;
  }
  @media $midScreenMedia {
    font-size: 3rem;
  }
}

.resume-page small {
  display: block;
  margin-block-start: -0.5rem;
}

.resume-page h5 {
  margin-block-start: 2rem;

  &:first-child {
    margin-block-start: 1rem;
  }

  @media $xxsmallScreenMedia {
    font-size: 1.25rem;
  }
  @media $xsmallScreenMedia {
    font-size: 1.5rem;
  }
  @media $smallScreenMedia {
    font-size: 1.5rem;
  }
  @media $midScreenMedia {
    font-size: 2rem;
  }
}

.resume-page .experience li {
  background-position: 0 0.82rem;
  margin-block-end: 1rem;
}

.resume-page .experience h6 {
  display: inline;
}

.resume-page .technicalReading {
  margin-block-start: 1.75rem;
}
