.header h1 {
  margin-block-end: 1rem;
}

.header h3 {
  margin-block-start: -0.5rem;
  margin-block-end: 3rem;
}

.resume-page small {
  display: block;
  margin-block-start: -0.5rem;
}

.resume-page .summarySkillset {
  margin-block-start: -1.75rem;
  margin-block-end: 0;
}

.resume-page ul li {
  display: list-item;
  list-style-type: none;
  padding-left: 1.5rem;
  position: relative;
}

.resume-page ul li::before {
  background-color: var(--primary-text-color);
  border-radius: 50%;
  content: '';
  display: block;
  height: 0.75rem;
  width: 0.75rem;
  left: -0.25rem;
  position: absolute;
  top: 0.78rem;
}

.resume-page ul li a {
  color: var(--primary-text-color);
}

.resume-page ul li a:hover {
  color: var(--primary-link-color);
}

.resume-page .experience li {
  background-position: 0 0.82rem;
  margin-block-end: 1rem;
}

.resume-page .experience h6 {
  display: inline;
}

.resume-page .technicalReading {
  margin-block-start: 1.75rem;
}
