@charset "utf-8"

+font-face("CaviarDreams", font-files("CaviarDreams.woff", "CaviarDreams.ttf", "CaviarDreams.svg", "CaviarDreams.eot"))
+font-face("OpenSans-Regular", font-files("OpenSans-Regular.woff", "OpenSans-Regular.ttf", "OpenSans-Regular.svg", "OpenSans-Regular.eot"))

+sticky-footer(65px, ".container", ".push-footer", "footer.page")

body
  background-color: $backgroundColor

h1, h2, h3, h4, h5, h6
  font-weight: normal
  font-style: normal

header.page
  padding: 20px 0px 60px 0px
  h1.logo
    margin: 0px
    a
      display: block
      width: 46px
      height: 40px
      text-indent: -9999px
      background: url("/images/logo.png") no-repeat

.nav-bar.social-media
  height: 32px
  margin: 0px
  background: none
  li
    border: none!important
    margin-left: 6px
    box-shadow: none!important
    a
      width: 32px
      height: 32px
      padding: 0px
      text-indent: -9999px
  li:first-child
    margin-left: 0px
  .twitter
    background: url("/images/social-media/twitter-icon.png") no-repeat
  .linkedin
    background: url("/images/social-media/linkedin-icon.png") no-repeat
  .delicious
    background: url("/images/social-media/delicious-icon.png") no-repeat
  .facebook
    background: url("/images/social-media/facebook-icon.png") no-repeat

.main-nav
  padding-top: 0px !important
  li
    h4
      a
        font-family: "OpenSans-Regular", "Verdana", Arial, sans-serif
        font-size: 20px
        color: $headerFontColor
        text-transform: uppercase
    h4:first-child
      margin-top: 0px

section[role=main]
  header
    border-bottom: 1px solid #5a5a5a
    margin-bottom: 14px
    h2
      margin-top: 0px
      text-transform: uppercase

footer.page
  background-color: #191919
  p
    line-height: 65px
    text-align: center
