@import '../../styles/vars.css';

.page-outer-container {
  width: 100%;
}

.page-inner-container {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  width: 100%;
}

.page-header-and-main-content {
  box-sizing: border-box;
  width: 100%;

  @media $xxsmallScreenMedia {
    padding: 0 0.5rem;
  }

  @media $xsmallScreenMedia {
    padding: 0 0.75rem;
  }

  @media $smallScreenMedia {
    padding: 0 1rem;
  }

  @media $midScreenMedia {
    padding: 0 2rem;
  }

  @media $largeScreenMedia {
    width: $largeScreenWidth;
  }
}

.page-main-content {
  @media $midScreenMedia {
    margin-top: 2rem;
  }
}
