.copyImageContainer {
  display: block;
}

.copyImageContainer * div {
  display: block;
}

.email {
  font-size: 0.875rem;
}

.imageContainer {
  border: 0.625rem solid var(--secondary-text-color);
  border-radius: 50%;
  float: right;
  shape-outside: circle(50%);
}

.imageContainer img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.header {
  align-items: baseline;
  flex-direction: row;
}

.header h3 {
  margin-left: 1rem;
}