@import '../styles/vars.css';

.copy-image-container {
  @media $midScreenMedia {
    display: block;
    p {
      margin-block-start: 1.5rem;
      margin-block-end: 1.5rem;
    }
  }
}

.image-container {
  align-self: center;
  border: 0.375rem solid var(--secondary-text-color);
  border-radius: 50%;
  margin-bottom: 1.25rem;

  @media $xxsmallScreenMedia {
    width: 180px;
    height: 180px;
  }
  @media $xsmallScreenMedia {
    width: 180px;
    height: 180px;
  }
  @media $smallScreenMedia {
    width: 250px;
    height: 250px;
  }
  @media $midScreenMedia {
    align-self: auto;
    display: block;
    float: right;
    margin-bottom: 0;
    margin-top: 1.5rem;
    width: 250px;
    height: 250px;
  }
  @media $largeScreenMedia {
    width: 250px;
    height: 250px;
  }
}

.image-container img {
  border-radius: 50%;

  @media $xxsmallScreenMedia {
    width: 180px;
    height: 180px;
  }
  @media $xsmallScreenMedia {
    width: 180px;
    height: 180px;
  }
  @media $smallScreenMedia {
    width: 250px;
    height: 250px;
  }
  @media $midScreenMedia {
    width: 250px;
    height: 250px;
  }
  @media $largeScreenMedia {
    width: 250px;
    height: 250px;
  }
}

.image-container-case-study {
  align-self: center;
  flex-direction: column;
  margin-bottom: 1.25rem;
  margin-left: 2rem;

  @media $smallScreenMedia {
    flex-direction: column;
    width: 250px;
    height: 1200px;
  }
  @media $midScreenMedia {
    align-self: auto;
    display: block;
    float: right;
    margin-bottom: 0;
    width: 250px;
    height: 1200px;
  }
  @media $largeScreenMedia {
    width: 250px;
    height: 1200px;
  }
}

.image-container-case-study img {
  @media $xxsmallScreenMedia {
    width: 180px;
    height: 365px;
  }
  @media $xsmallScreenMedia {
    width: 180px;
    height: 365px;
  }
  @media $smallScreenMedia {
    width: 250px;
    height: 508px;
  }
  @media $midScreenMedia {
    width: 250px;
    height: 508px;
  }
  @media $largeScreenMedia {
    width: 250px;
    height: 508px;
  }
}

.image-container-case-study > div {
  @media $xxsmallScreenMedia {
    margin-top: 4rem;
  }
}

.case-study-title {
  font-size: 2.125rem;
  line-height: 2.75rem;

  @media $midScreenMedia {
    font-size: 3.875rem;
    line-height: 4.5rem;
  }
}

.image-container-campaign {
  align-self: center;
  border: 0.375rem solid var(--secondary-text-color);
  border-radius: 50%;
  margin-bottom: 1.25rem;
  margin-top: 2rem;

  @media $xxsmallScreenMedia {
    border-width: 0.25rem;
    width: 180px;
    height: 180px;
  }
  @media $xsmallScreenMedia {
    border-width: 0.25rem;
    width: 180px;
    height: 180px;
  }
  @media $smallScreenMedia {
    width: 250px;
    height: 250px;
  }
  @media $midScreenMedia {
    align-self: auto;
    display: block;
    float: right;
    margin-bottom: 0;
    margin-top: 2rem;
    width: 250px;
    height: 250px;
  }
  @media $largeScreenMedia {
    width: 250px;
    height: 250px;
  }
}

.image-container-campaign img {
  border-radius: 50%;
  @media $xxsmallScreenMedia {
    width: 130px;
    height: 130px;
  }
  @media $xsmallScreenMedia {
    width: 130px;
    height: 130px;
  }
  @media $smallScreenMedia {
    margin-top: 0;
    width: 250px;
    height: 250px;
  }
  @media $midScreenMedia {
    width: 250px;
    height: 250px;
  }
  @media $largeScreenMedia {
    width: 250px;
    height: 250px;
  }
}

.header h1,
.header h2 {
  flex-grow: 1;
  text-align: center;

  @media $midScreenMedia {
    text-align: left;
  }
}

.header h2 {
  @media $midScreenMedia {
    font-size: 3rem;
  }
}

.header h4 {
  margin-bottom: 0;
  text-align: center;

  @media $midScreenMedia {
    text-align: left;
  }
}

.get-in-touch-button {
  background-color: rgb(22, 163, 74);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  font-size: 1.125rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;

  &:hover {
    text-decoration: none;
    background-color: rgb(34, 197, 94);
  }
}
