@import "../styles/vars.css";

.copyImageContainer {
  @media $midScreenMedia {
    display: block;
  }
}

.imageContainer {
  align-self: center;
  border: 0.625rem solid var(--secondary-text-color);
  border-radius: 50%;
  @media $xxsmallScreenMedia {
    width: 200px;
    height: 200px;
  }
  @media $xsmallScreenMedia {
    width: 250px;
    height: 250px;
  }
  @media $smallScreenMedia {
    width: 275px;
    height: 275px;
  }
  @media $midScreenMedia {
    align-self: auto;
    display: block;
    float: right;
    width: 300px;
    height: 300px;
  }
  @media $largeScreenMedia {
    width: 400px;
    height: 400px;
  }
}

.imageContainer img {
  border-radius: 50%;
  @media $xxsmallScreenMedia {
    width: 200px;
    height: 200px;
  }
  @media $xsmallScreenMedia {
    width: 250px;
    height: 250px;
  }
  @media $smallScreenMedia {
    width: 275px;
    height: 275px;
  }
  @media $midScreenMedia {
    width: 300px;
    height: 300px;
  }
  @media $largeScreenMedia {
    width: 400px;
    height: 400px;
  }
}

.header h1 {
  flex-grow: 1;
  text-align: center;

  @media $xxsmallScreenMedia {
    font-size: 2rem;
  }
  @media $xsmallScreenMedia {
    font-size: 2.25rem;
  }
  @media $smallScreenMedia {
    font-size: 2.5rem;
  }
  @media $midScreenMedia {
    font-size: 4rem;
    text-align: left;
  }
}

.recommendationsText {
  margin-top: 3rem;
  text-align: center;
  @media $xxsmallScreenMedia {
    font-size: 1.75rem;
  }
  @media $xsmallScreenMedia {
    font-size: 2rem;
  }
  @media $smallScreenMedia {
    font-size: 2.5rem;
  }
  @media $midScreenMedia {
    font-size: 3rem;
  }
}

.recommendationsTextTapToSee {
  display: block;
  margin: -1.25rem 0 2rem;
  text-align: center;
}

.recommendationsContainer {
  align-items: center;
}

.recommendations {
  cursor: pointer;
  /*width: 100%;
  max-width: 800px;*/
  position: relative;
  overflow: hidden;

  @media $xxsmallScreenMedia {
    width: 17rem;
    height: 34rem;
  }
  @media $xsmallScreenMedia {
    width: 20rem;
    height: 32rem;
  }
  @media $smallScreenMedia {
    width: 23rem;
    height: 30rem;
  }
  @media $midScreenMedia {
    width: 40rem;
    height: 22rem;
  }
  @media $largeScreenMedia {
    width: 54rem;
    height: 18rem;
  }
}

.recommendation-container {
  position: absolute;
  transition: all 0.5s;
}

.recommendation-container > svg {
  width: 4rem;
  height: 4rem;
}

.recommended-by-container {
  flex-direction: row;
}

.recommendation-content {
  margin-top: -1rem;
  padding-left: 0.875rem;
}

.recommended-by-container img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.recommended-by-signature {
  margin: 0.375rem 0 0 0.375rem;
}

.recommendations-buttons {
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.prev-button,
.next-button {
  align-items: center;
  cursor: pointer;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.prev-button {
}

.next-button {
}

.recommendation-indicator {
  background-color: var(--primary-text-color);
  border-radius: 50%;
  margin: 0 0.125rem 0;
  opacity: 0.4;
  width: 0.5rem;
  height: 0.5rem;
}
