---
title: "Portfolio: Bienal 2012"
---

- content_for :main_content_title do
  a href="/portfolio" Portfolio
== partial "partials/job", :locals => { :job_name => "Bienal 2012", :job_type => "CMS", :job_date => "September 2012", :job_link => "/portfolio/bienal2012", :slide_partial => "portfolio/bienal2012_slide", :description_partial => "portfolio/bienal2012_description" }
