---
title: "Pepsi WebSite | flsilva's Portfolio"
description: ActionScript 3.0 project developed for Grafikonstruct in 2008.
priority: 0.5
changefreq: monthly
---

- content_for :main_content_title do
  a href="/portfolio" Portfolio
== partial "partials/job", :locals => { :job_name => "Pepsi", :job_type => "Web Site", :job_date => "August 2008", :job_link => "/portfolio/pepsi", :slide_partial => "portfolio/pepsi_slide", :description_partial => "portfolio/pepsi_description" }
