---
title: "Schin Casa com Tudo WebSite | flsilva's Portfolio"
description: .NET + ActionScript 3.0 project developed for Grafikonstruct in 2009.
priority: 0.5
changefreq: monthly
---

- content_for :main_content_title do
  a href="/portfolio" Portfolio
== partial "partials/job", :locals => { :job_name => "Schin Casa com Tudo", :job_type => "Web Site", :job_date => "October 2009", :job_link => "/portfolio/schin-casa-com-tudo/", :slide_partial => "portfolio/schin-casa-com-tudo-slide", :description_partial => "portfolio/schin-casa-com-tudo-description" }
