---
title: "Schin Caiu na Rede WebSite | flsilva's Portfolio"
description: Java + ActionScript 3.0 project developed for Grafikonstruct in 2010.
priority: 0.5
changefreq: monthly
---

- content_for :main_content_title do
  a href="/portfolio" Portfolio
== partial "partials/job", :locals => { :job_name => "Schin Caiu na Rede", :job_type => "Web Site", :job_date => "August 2010", :job_link => "/portfolio/schin-caiu-na-rede/", :slide_partial => "portfolio/schin-caiu-na-rede-slide", :description_partial => "portfolio/schin-caiu-na-rede-description" }
