@import "../styles/vars.css";

.main-footer {
  background-color: var(--primary-text-color);
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mainFooterContent {
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 2rem;

  @media $midScreenMedia {
    flex-direction: row;
    width: calc($midScreenWidth - 4rem);
  }
  @media $largeScreenMedia {
    width: calc($largeScreenWidth - 4rem);
  }
}

.mainFooterContent p {
  color: var(--primary-bg-color);
  font-size: 1rem;
}

.footer-nav {
  justify-content: space-between;
}

.footer-nav ul {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-inline-start: 0;
}

.footer-nav ul li {
  margin-left: 2rem;
}

.footer-nav ul li:first-child {
  margin-left: 0;
}
