@import '../styles/vars.css';

.container {
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1rem;

  @media $midScreenMedia {
    margin-top: 0;
    align-items: center;
    flex-direction: row;
  }
}

.logo-and-hamburger-menu-button-container {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  @media $midScreenMedia {
    justify-content: flex-start;
    width: auto;
  }
}

.hamburger-menu-button {
  display: flex;
  margin-bottom: 0.625rem;

  @media $midScreenMedia {
    display: none;
  }
}
