@import '../styles/vars.css';

.container {
  height: 0;
  transition: height 0.5s;
  overflow: hidden;
  width: 100%;

  @media $midScreenMedia {
    height: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.4375rem;
    overflow: auto;
    transition-property: none;
    width: auto;
  }
}

.container ul {
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media $midScreenMedia {
    align-items: flex-start;
    flex-direction: row;
    margin: -0.375rem 0 0 4rem;
  }
}

.container ul li {
  border-bottom: 1px solid $primaryTextColorLight;
  display: flex;
  justify-content: center;
  margin: 0.25rem 0 0;
  padding: 1rem 0;
  width: 100%;

  @media $midScreenMedia {
    border-bottom: none;
    justify-content: normal;
    margin-left: 2rem;
    padding: 0;
    width: auto;

    &:first-child {
      margin-left: 0;
    }
  }
}

.container ul li::before {
  display: none;
}

.container ul li a {
  color: $primaryTextColorLight;
  font-weight: 700;
}

.change-theme-button-container {
  align-items: center;
  & > button {
    border-color: $primaryTextColorLight;
    border-radius: 50%;
    margin: -0.25rem 0 0 0rem;
    padding: 0.75rem;
    width: fit-content;
  }

  @media $midScreenMedia {
    text-align: left;
  }
}

.case-study-item {
  padding-right: 2rem !important;
  position: relative;
}

.case-study-item > span {
  font-size: 0.75rem;
  font-weight: 700;
  position: absolute;
  right: 0.25rem;
  top: -0.5rem;
}
