@import '../styles/vars.css';

.container {
  background-color: $primaryTextColorLight;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.container-content {
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;

  @media $xxsmallScreenMedia {
    padding: 0 0 1.75rem;
  }

  @media $midScreenMedia {
    flex-direction: row;
    padding: 2rem;
    width: calc($midScreenWidth - 4rem);
  }

  @media $largeScreenMedia {
    width: calc($largeScreenWidth - 4rem);
  }
}

.container-content p {
  color: $primaryBgColorLight;
  font-size: 1rem;
}

.nav {
  justify-content: space-between;
}

.nav ul {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-inline-start: 0;
}

.nav ul li {
  display: flex;
  margin: 0 0 0 2rem;
  padding-left: 0;
}

.nav ul li::before {
  display: none;
}

.nav ul li:first-child {
  margin-left: 0;
}
