@import "../styles/vars.css";

.header > h3 {
  @media $xxsmallScreenMedia {
    font-size: 2rem;
  }
  @media $xsmallScreenMedia {
    font-size: 2.5rem;
  }

  @media $midScreenMedia {
    font-size: 3rem;
  }
}
