---
title: Introduction to Git
description: Learn about Git version control system. What it is, a little about how it works internally, what is a DVCS (Distributed Version Control System), its advantages, and more.
priority: 0.6
changefreq: monthly
tags: git
author: flsilva
summary: This article explains what Git is, a little about how it works internally, what a DVCS (Distributed Version Control System) is, its advantages, and more.
tweet_text: "&quot;Starting to learn #git? Check out this brief introduction&quot; by @flsilva7"
tweet_hashtags: ""
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2012-12-11-introducing-git" }
== partial "partials/disqus"
