---
title: "Understanding Git - Part I-IV"
priority: 0.6
changefreq: monthly
tags: git
author: flsilva
summary: "The first part of the series explains what Git is, what is a DVCS (Distributed Version Control System) and its advantages."
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2012-11-26-understanding-git-part-I-IV" }
