---
title: Welcome
description: Welcome to Flavio Silva's blog. Articles about Ruby, Rails, HTML5, JavaScript, iOS, Android, Web Server, etc. Feel free to cooperate, share ideias and checkout the public repository.
priority: 0.6
changefreq: monthly
author: flsilva
summary: Welcome to my blog. Usually I'll write about Ruby, Rails, HTML5, JavaScript, iOS, Android, Web Server, etc. Feel free to cooperate, share ideias and checkout the public repository.
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2012-12-10-welcome" }
