---
title: Introducing Git
description: Learn with this article what Git is, a bit about how it works internally, what is a DVCS (Distributed Version Control System) and its advantages, and more.
priority: 0.6
changefreq: monthly
tags: git
author: flsilva
summary: This article explains what Git is, a bit about how it works internally, what is a DVCS (Distributed Version Control System) and its advantages, and more.
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2012-12-10-introducing-git" }
