---
title: SVN X Git
tags: git, development, vcs
author: flsilva
summary: "Summary SVN X Git lorem ipsum dolor..."
---
- content_for :main_content_title do
  a href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2012-09-03-svn-x-git" }
