---
title: Software Development With Git + Branching
tags: git, development, vcs
author: flsilva
summary: "Summary Software Development With Git + Branching lorem ipsum dolor..."
---
- content_for :main_content_title do
  a href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2012-04-18-software-development-with-git-branching" }
