---
title: Introduction to NoSQL
description: Learn what NoSQL is, why it is different, its four main data models (key-value, document, column-family, and graph), when we should use it, and more.
priority: 0.6
changefreq: monthly
tags: "nosql"
author: flsilva
summary: Learn what NoSQL is, why it is different, its four main data models (key-value, document, column-family, and graph), when we should use it, and more.
tweet_text: "Learn what NoSQL is, its four main data models (key-value, document, column-family, and graph), and more."
tweet_hashtags: "NoSQL"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2013-10-08-introduction-to-nosql" }
== partial "partials/disqus"
