---
title: What really is a Software Bug?
description: Sometimes tricky issues arise in software development, but not all are bugs. Learn in this article solid parameters to be able to decide whether something really is a bug or not.
priority: 0.6
changefreq: monthly
tags: software-testing
author: flsilva
summary: Sometimes tricky issues arise in software development, but not all are bugs. Learn solid parameters to be able to decide whether something really is a bug or not.
tweet_text: "Learn solid parameters to be able to decide if tricky issues really are bugs."
tweet_hashtags: "SoftwareTesting SoftwareBug"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2013-01-14-what-really-is-a-software-bug" }
== partial "partials/disqus"
