---
title: "Introduction to Node.js"
description: "Get a comprehensive introduction to what Node.js is, why it is different, when we should use it, what evented I/O means, and more."
priority: 0.6
changefreq: monthly
tags: "nodejs"
author: flsilva
summary: "Get a comprehensive introduction to what Node.js is, why it is different, when we should use it, what evented I/O means, and more."
tweet_text: "Get a comprehensive introduction to what Node.js is, when we should use it, what evented I/O means, and more."
tweet_hashtags: "nodejs"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2013-03-25-introduction-to-nodejs" }
== partial "partials/disqus"
