---
title: What is Software Testing?
description: Get an introduction to what software testing is, who the software tester is and other insights.
priority: 0.6
changefreq: monthly
tags: "software-testing"
author: flsilva
summary: Get an introduction to what software testing is, who the software tester is and other insights.
tweet_text: "Get an introduction to what software testing is, who the software tester is and other insights."
tweet_hashtags: "SoftwareTesting"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2013-02-05-what-is-software-testing" }
== partial "partials/disqus"
