---
title: What is a Software Bug?
description: Sometimes tricky issues arise in software development, but not all are bugs. In this article you'll learn solid parameters to make sure something really is a bug.
priority: 0.6
changefreq: monthly
tags: "software-testing"
author: flsilva
summary: Sometimes tricky issues arise in software development, but not all are bugs. In this article you'll learn solid parameters to make sure something really is a bug.
tweet_text: "&quot;Learn solid parameters to make sure whether tricky issues are really bugs or not&quot; by @flsilva7 #SoftwareTesting"
tweet_hashtags: ""
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2013-01-14-what-really-is-a-software-bug" }
== partial "partials/disqus"
