---
title: What is a Product Specification?
description: Learn what is a product specification (spec), why it's so important and some types of documents that may compose it.
priority: 0.6
changefreq: monthly
author: flsilva
summary: This article explains what is a product specification (spec), why it's so important and some types of documents that may compose it.
tweet_text: "Welcome to flsilva's Blog. Articles about Ruby, Rails, HTML5, JavaScript, iOS, Android, Web Server, etc."
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2013-01-08-what-is-a-product-specification" }
== partial "partials/disqus"
