---
title: "Git - Basic Commands Explained"
description: "Learn Git's basic commands: clone, init, status, commit, push, pull, remote, and more."
priority: 0.6
changefreq: monthly
tags: git
author: flsilva
summary: "Learn Git's basic commands: clone, init, status, commit, push, pull, remote, and more."
tweet_text: "Learn Git's basic commands: clone, init, status, commit, push, pull, remote, and more."
tweet_hashtags: "git"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2013-04-30-git-basic-commands-explained" }
== partial "partials/disqus"
