---
title: "Git Workflow"
description: "Learn about Git's three file states (modified, staged and committed), and its three corresponding sections (working directory, staging area and Git directory)."
priority: 0.6
changefreq: monthly
tags: "git"
author: flsilva
summary: "Learn about Git's three file states (modified, staged and committed), and its three corresponding sections (working directory, staging area and Git directory)."
tweet_text: "&quot;Learn about the three file states in #git: modified, staged and committed.&quot; by @flsilva7"
tweet_hashtags: ""
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2013-01-21-git-workflow" }
== partial "partials/disqus"
