---
title: "How to Install Nginx - Tutorial (Ubuntu / Debian)"
description: "Learn how to install Nginx on Linux (Ubuntu / Debian)."
priority: 0.6
changefreq: monthly
tags: nginx, ubuntu, debian
author: flsilva
summary: "Learn how to install Nginx on Linux (Ubuntu / Debian)."
tweet_text: "Learn how to install Nginx on Linux (Ubuntu / Debian)."
tweet_hashtags: "nginx ubuntu debian"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2014-07-16-how-to-install-nginx-tutorial-ubuntu-and-debian" }
== partial "partials/disqus"
