---
title: "How to Install Latest Git - Tutorial (Ubuntu / Debian)"
description: "Learn how to install and update latest Git version on Linux (Ubuntu / Debian)."
priority: 0.6
changefreq: monthly
tags: git, sysadmin, ubuntu, debian
author: flsilva
summary: "Learn how to install and update latest Git version on Linux (Ubuntu / Debian)."
tweet_text: "Learn how to install and update latest Git version on Linux (Ubuntu / Debian)."
tweet_hashtags: "git, sysadmin, ubuntu, debian"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2014-09-11-how-to-install-latest-git-tutorial-ubuntu-and-debian.slim" }
== partial "partials/disqus"
