---
title: "How to Securely Set Up a VPS Server - Tutorial (Ubuntu / Debian)"
description: "Learn how to securely set up a Linux (Ubuntu / Debian) VPS (Virtual Private Server)."
priority: 0.6
changefreq: monthly
tags: vps, ubuntu, debian
author: flsilva
summary: "Learn how to securely set up a Linux (Ubuntu / Debian) VPS (Virtual Private Server)."
tweet_text: "Learn how to securely set up a Linux (Ubuntu / Debian) VPS."
tweet_hashtags: "vps ubuntu debian"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2014-04-23-how-to-securely-set-up-vps-server-tutorial-ubuntu-and-debian" }
== partial "partials/disqus"
