---
title: "Git Branching and Merging"
description: "Learn what Git branching is, why use it, and how to create and merge branches, including conflict resolution."
priority: 0.6
changefreq: monthly
tags: "git"
author: flsilva
summary: "Learn what Git branching is, why use it, and how to create and merge branches, including conflict resolution."
tweet_text: "Learn what Git branching is, why use it, and how to create and merge branches, including conflict resolution."
tweet_hashtags: "git"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2014-06-02-git-branching-and-merging" }
== partial "partials/disqus"
