---
title: "How to Password Protect a File or Directory on Nginx"
description: "Learn how to password protect (HTTP Authentication) a file or directory on Nginx."
priority: 0.6
changefreq: monthly
tags: vps, nginx, security
author: flsilva
summary: "Learn how to password protect (HTTP Authentication) a file or directory on Nginx."
tweet_text: "Learn how to password protect (HTTP Authentication) a file or directory on Nginx."
tweet_hashtags: "vps, nginx, security"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2014-06-30-how-to-password-protect-file-directory-nginx" }
== partial "partials/disqus"
