---
title: Software Testing in the Real World
description: "In this short entry I'll talk about something you may not know: it's not possible to release bug-free software! Get to know why, and how to proceed with your testing activities in the real world."
priority: 0.6
changefreq: monthly
tags: "software-testing"
author: flsilva
summary: "In this short entry I'll talk about something you may not know: it's not possible to release bug-free software! Get to know why, and how to proceed with your testing activities in the real world."
tweet_text: "Did you know that it's not possible to release bug-free software? Get to know why and how to proceed"
tweet_hashtags: "SoftwareTesting"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2015-02-03-software-testing-in-the-real-world" }
== partial "partials/disqus"
