---
title: "Git Remote and Tracking Branches"
description: "Learn what are remote and tracking branches, and how to manage them."
priority: 0.6
changefreq: monthly
tags: "git"
author: flsilva
summary: "Learn what are remote and tracking branches, and how to manage them."
tweet_text: "Learn what are remote and tracking branches, and how to manage them."
tweet_hashtags: "git"
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2017-07-19-git-remote-and-tracking-branches" }
== partial "partials/disqus"
