---
title: "Git Remote and Tracking Branches"
description: "Do you know what are remote and tracking branches? Tracking ones can simplify the way we run some commands, get to know why and how."
priority: 0.6
changefreq: monthly
tags: "git"
author: flsilva
summary: "Do you know what are remote and tracking branches? Tracking ones can simplify the way we run some commands, get to know why and how."
tweet_text: "&quot;Get to know what are remote and tracking branches, and why tracking ones make our lives easier&quot; by @flsilva7 #git"
tweet_hashtags: ""
---
- content_for :main_content_title do
  a id==get_post_link_id(true, current_page.title, "main-blog-title-button") href="/" Blog
== partial "partials/post", :locals => { :article => current_page, :post_path => "blog/2017-07-20-git-remote-and-tracking-branches" }
== partial "partials/disqus"
