textile:
  I decided to write this short entry because I think it's a common confusion.

  The main goal of software testing is to find bugs as soon as possible and make sure they get fixed. (Patton)

  The main goal of software quality assurance (SQA) is to provide methodologies and standards to monitor and improve the development process, **preventing** the maximum possible bugs and **delivering high quality products**. (Patton)

  But it doesn't mean SQA profissionals don't do tests and software testers don't help with some SQA tasks. There are some overlaps, but the main responsabilities of each one is very clear. In fact, the SQA team uses the testing team as part of the methods to help increase quality.

  The software testing team doesn't have means to assure that the software will be of high quality. Their job is to find bugs as soon as possible and make sure they get fixed, but if developers don't fix them, it's not their fault. But it is the SQA team, who is responsible to deliver high quality products, which includes maintaining a qualified development team.

  The internal structure of a company will define how relationships and responsabilities are distributed between teams, which may include executive management, project management, SQA, testing, development, etc.

  h3(#related-posts). Related Posts

  "What is Software Testing?":/blog/what-is-software-testing/
  "What really is a software bug?":/blog/what-really-is-a-software-bug/
  "What is a Product Specification?":/blog/what-is-a-product-specification/
  "How to Report Bugs Effectively":/blog/how-to-report-bugs-effectively/

  h3(#interesting-links). Interesting Links

  <a href="http://en.wikipedia.org/wiki/Software_testing" target="_blank">Software testing (Wikipedia)</a>
  <a href="http://www.softwaretestinghelp.com/" target="_blank">Software Testing Help</a>
  <a href="http://en.wikipedia.org/wiki/Software_testability" target="_blank">Software testability (Wikipedia)</a>

  h3(#bibliography). Bibliography

  Patton, Ron. _Software Testing_. 2nd ed. Sams, 2005.
