textile:
  Welcome to my blog.

  In recent years I've studied a lot and I've realized that writing was a great way to learn better. So, as far as possible I've written some articles and will be posting here soon. Moreover, to the extent possible I'll write about subjects that are part of my everyday work, mainly on web and mobile development (e.g. Ruby, Rails, HTML5, JavaScript, iOS, Android, Web Server, etc). Usually the articles will be licensed under a creative commons license.

  The source code and assets of this website are publicly available, but they are copyrighted unless otherwise stated. The source can be found at: <a href="http://github.com/flsilva/flsilva.com" target="_blank">http://github.com/flsilva/flsilva.com</a>

  I invite everyone to cooperate and share ideas with the blog content, whether through comments or pull requests. Keep in mind that english is not my native language, and I have a lot to learn to achieve fluency. But I appreciate any corrections, as I'll try to learn with each one.

  Also, if you want to say hello, discuss a project, some idea or whatever, feel free to <a id="blog-post-welcome-contact-button" href="/contact">get in touch</a>.
