@import "../styles/vars.css";

.page-outer-container {
  width: 100%;
}

.page-inner-container {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  width: 100%;
}

.page-header-and-main-content {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 100%;
  /*
  @media $mediaMaxXSmall {
    width: calc($mediaXSmallMaxWidth - 4rem);
  }
  @media $mediaMaxSmall {
    width: calc($mediaSmallMaxWidth - 4rem);
  }
  @media $mediaMinMid {
    width: calc($mediaMidMinWidth - 4rem);
  }
  */
  @media $mediaMinLarge {
    /*width: calc($mediaLargeMinWidth - 4rem);*/
    width: $mediaLargeMinWidth;
  }
  @media $mediaMinXLarge {
    /*width: calc($mediaXLargeMinWidth - 4rem);*/
    width: $mediaXLargeMinWidth;
  }
}

.page-main-content {
  flex-direction: column;
}
