---
title: Blog
---
- content_for :main_content_title do
  | Blog
- page_articles.each_with_index do |article, i|
  == partial "partials/post", :locals => { :article => article, :article_content => article.data.summary }
