---
title: Portfolio
---

- content_for :main_content_title do
  | Portfolio
== partial "partials/job", :locals => { :job_name => "Bienal 2012", :job_type => "CMS", :job_date => "September 2012", :job_link => "/portfolio/bienal2012", :slide_partial => "portfolio/bienal2012_slide" }
== partial "partials/job", :locals => { :job_name => "Conspiração Filmes", :job_type => "Web Site", :job_date => "Dezember 2008", :job_link => "/portfolio/conspiracao", :slide_partial => "portfolio/conspiracao_slide" }
== partial "partials/job", :locals => { :job_name => "Pepsi", :job_type => "Web Site", :job_date => "August 2008", :job_link => "/portfolio/pepsi", :slide_partial => "portfolio/pepsi_slide" }
== partial "partials/job", :locals => { :job_name => "Ultraeco", :job_type => "Web Site", :job_date => "October 2007", :job_link => "/portfolio/ultraeco", :slide_partial => "portfolio/ultraeco_slide" }
