@import "../../styles/vars.css";

.oss-project {
  margin-top: 2rem;
}

.oss-project > div {
  background-color: #050505;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem;
}

.vostok-framework > div {
  @media $midScreenMedia {
    width: 18rem;
  }
}

.vostok-framework img {
  @media $xsmallScreenMedia {
    width: 220px;
    height: 110px;
  }

  @media $smallScreenMedia {
    width: 260px;
    height: 130px;
  }
}

.as3-collections > div {
  @media $midScreenMedia {
    width: 18rem;
  }
}

.as3-collections img {
  @media $xsmallScreenMedia {
    width: 220px;
    height: 61px;
  }

  @media $smallScreenMedia {
    width: 260px;
    height: 72px;
  }
}

.as3-utils > div {
  @media $midScreenMedia {
    width: 18rem;
  }
}

.as3-utils img {
  @media $xsmallScreenMedia {
    width: 220px;
    height: 92px;
  }

  @media $smallScreenMedia {
    width: 260px;
    height: 109px;
  }
}

.as3-core-addendum > div {
  @media $midScreenMedia {
    width: 18rem;
  }
}

.as3-core-addendum img {
  @media $xsmallScreenMedia {
    width: 220px;
    height: 60px;
  }

  @media $smallScreenMedia {
    width: 260px;
    height: 71px;
  }
}
